* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 2.5vw; }

body {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  background-color: #eee; }
  body a {
    text-decoration: none; }
  body svg {
    display: block; }

#intro-wrapper {
  background-color: #1B1B7A;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; }
  #intro-wrapper #arrow-wrapper {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0; }
    #intro-wrapper #arrow-wrapper svg {
      width: 1.5rem;
      animation: moveUpDown 1s infinite ease-in-out; }

@keyframes moveUpDown {
  0% {
    transform: translateY(-2vh); }
  50% {
    transform: translateY(0); }
  100% {
    transform: translateY(-2vh); } }

#intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding: 0 3rem; }
  #intro h1 {
    font-family: 'Six Caps', sans-serif;
    color: white;
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    animation: scaleDown .5s forwards ease-in;
    animation-delay: 1s;
    transform-origin: top center;
    text-align: center; }
    #intro h1 #labs {
      color: #A3A3A3;
      transform: scale(0);
      opacity: 0;
      transition: all 0.3s cubic-bezier(0.18, 0.57, 0.5, 1.03); }
  #intro p {
    transition: all 0.8s cubic-bezier(0.18, 0.57, 0.5, 1.03);
    color: white;
    font-size: 0.6rem;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 0.03rem;
    width: 65%;
    text-align: center;
    font-style: italic;
    transform: translateY(2rem);
    opacity: 0;
    margin-top: 1.5rem; }

@keyframes scaleDown {
  to {
    font-size: 2rem; } }

#contacto {
  background-color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0; }
  #contacto h2 {
    width: 100%;
    color: #1B1B7A;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.06rem;
    font-style: italic;
    text-align: center;
    margin-bottom: .7rem; }

#join {
  text-align: center; }
  #join p {
    font-size: 0.7rem;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 0.03rem;
    color: black; }
  #join a {
    font-size: 0.6rem;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.03rem;
    color: black; }

#or {
  text-align: center;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.03rem;
  color: #686868;
  text-transform: uppercase;
  margin: 1.5rem 0 1rem 0; }

#contacto-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

#formulario {
  width: 35vw; }
  #formulario .form {
    position: relative;
    margin-bottom: 1rem; }
    #formulario .form input, #formulario .form textarea {
      border: none;
      font-size: 0.5rem;
      font-weight: 400;
      line-height: 1.4;
      letter-spacing: 0.03rem;
      outline: none;
      padding: 0.3rem;
      width: 100%;
      background-color: #dddddd;
      -webkit-appearance: none;
      border-radius: 0.15rem; }
    #formulario .form textarea {
      height: 5.5rem;
      resize: none;
      margin-top: 0.4rem; }
    #formulario .form .label-text {
      font-size: 0.5rem;
      font-weight: 300;
      line-height: 1;
      letter-spacing: 0.03rem;
      color: black; }
    #formulario .form .moving-label {
      font-size: 0.5rem;
      font-weight: 300;
      line-height: 1.4;
      letter-spacing: 0.03rem;
      position: absolute;
      bottom: 0.3rem;
      left: 0.3rem;
      display: block;
      transition: transform 0.3s cubic-bezier(0.18, 0.57, 0.5, 1.03);
      color: black;
      pointer-events: none; }
      #formulario .form .moving-label.filled {
        transform: translate(-0.3rem, 1rem);
        font-size: 0.4rem;
        color: black; }
    #formulario .form input:focus ~ label {
      transform: translate(-0.3rem, 1rem);
      font-size: 0.4rem;
      color: black; }
  #formulario #btn-enviar {
    width: 100%;
    background-color: transparent;
    border: none;
    background-color: #1B1B7A;
    color: #eee;
    text-transform: uppercase;
    font-size: 0.4rem;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0.03rem;
    text-transform: capitalize;
    outline: none;
    border-radius: 0.15rem;
    padding: 0.5rem;
    cursor: pointer;
    -webkit-appearance: none; }

@media screen and (max-width: 1024px) {
  html {
    font-size: 6vw; }
  #formulario {
    width: 90vw; }
  #intro-wrapper #arrow-wrapper {
    bottom: 4rem; }
  #intro p {
    width: 90%; } }

@media screen and (orientation: landscape) and (max-width: 1024px) {
  html {
    font-size: 5vw; }
  #intro-wrapper {
    height: 150vh; }
    #intro-wrapper #arrow-wrapper {
      bottom: 1rem; } }

@media screen and (min-width: 767px) and (max-width: 1024px) {
  html {
    font-size: 4vw; } }
