* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 2.5vw; }

body {
  font-family: 'Mukta Malar', sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #ffffff; }
  body a {
    text-decoration: none; }
  body svg {
    display: block; }

main {
  position: relative;
  height: 100%;
  width: 100%; }

#intro-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; }
  #intro-wrapper #arrow-wrapper {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    opacity: 0; }
  #intro-wrapper svg {
    width: 1.5rem;
    -webkit-animation: moveUpDown 1s infinite ease-in-out; }

@-webkit-keyframes moveUpDown {
  0% {
    transform: translateY(-2vh); }
  50% {
    transform: translateY(0); }
  100% {
    transform: translateY(-2vh); } }

#intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  position: relative; }
  #intro h1 {
    width: 100%;
    font-family: 'Six Caps', sans-serif;
    color: #ffffff;
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.4rem;
    -webkit-transition: all ease-out;
    -webkit-transition-delay: .5s;
    -webkit-transition-duration: .5s;
    -webkit-transform-origin: center center;
    text-align: center;
    text-transform: uppercase; }
    #intro h1 #labs {
      color: #1B1B7A;
      -webkit-transform: scale(0);
      opacity: 0;
      -webkit-transition: all 0.3s cubic-bezier(0.18, 0.57, 0.5, 1.03); }
  #intro p {
    -webkit-transition: all 0.8s cubic-bezier(0.18, 0.57, 0.5, 1.03);
    color: #ffffff;
    font-size: 0.7rem;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 0.03rem;
    width: 65%;
    text-align: center;
    -webkit-transform: translateY(2rem);
    opacity: 0;
    margin-top: 0; }

#contacto {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 3rem 3rem;
  position: relative;
  height: 100vh; }
  #contacto .type-wrap {
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0.4rem;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: .7rem; }
  #contacto h2 {
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0.4rem;
    text-transform: uppercase; }

#join {
  width: 50%;
  z-index: 1;
  text-align: center; }
  #join p {
    font-size: 0.6rem;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 0.03rem;
    color: #ffffff; }
  #join a {
    font-size: 0.5rem;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.03rem;
    color: #ffffff; }

#contacto-form {
  width: 50%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #contacto-form p {
    font-size: 0.6rem;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 0.03rem;
    color: #ffffff;
    margin-bottom: .8rem; }
  #contacto-form #arrow-contact {
    -webkit-transition: transform 0.3s cubic-bezier(0.18, 0.57, 0.5, 1.03);
    width: 1rem;
    margin-bottom: .4rem;
    cursor: pointer; }

#canvas-basic {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

#formulario {
  display: none;
  width: 35vw; }
  #formulario .form {
    position: relative;
    margin-bottom: 1rem; }
    #formulario .form input, #formulario .form textarea {
      border: none;
      font-size: 0.5rem;
      font-weight: 400;
      line-height: 1.4;
      letter-spacing: 0.03rem;
      outline: none;
      padding: 0.3rem;
      width: 100%;
      background-color: #dddddd;
      -webkit-appearance: none;
      border-radius: 0.15rem; }
    #formulario .form textarea {
      height: 5.5rem;
      resize: none;
      margin-top: 0.4rem; }
    #formulario .form .label-text {
      font-size: 0.5rem;
      font-weight: 300;
      line-height: 1;
      letter-spacing: 0.03rem;
      color: #ffffff; }
    #formulario .form .moving-label {
      font-size: 0.5rem;
      font-weight: 300;
      line-height: 1.4;
      letter-spacing: 0.03rem;
      position: absolute;
      bottom: 0.3rem;
      left: 0.3rem;
      display: block;
      -webkit-transition: transform 0.3s cubic-bezier(0.18, 0.57, 0.5, 1.03);
      color: black;
      pointer-events: none; }
      #formulario .form .moving-label.filled {
        -webkit-transform: translate(-0.3rem, 1rem);
        font-size: 0.4rem;
        color: #ffffff; }
    #formulario .form input:focus ~ label {
      -webkit-transform: translate(-0.3rem, 1rem);
      font-size: 0.4rem;
      color: #ffffff; }
  #formulario #btn-enviar {
    width: 100%;
    background-color: transparent;
    border: 0.01rem solid #ffffff;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 0.4rem;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0.03rem;
    outline: none;
    border-radius: 0.15rem;
    padding: 0.5rem;
    cursor: pointer;
    -webkit-appearance: none; }

#not-found {
  height: 100vh;
  width: 100%;
  background: url(../img/404error.jpeg) no-repeat fixed center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #not-found h1 {
    font-family: 'Six Caps', sans-serif;
    color: white;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0.03rem;
    text-transform: uppercase; }
  #not-found a {
    color: white;
    font-size: 0.6rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0.03rem;
    text-transform: uppercase;
    border: 0.08rem solid white;
    padding: .5rem;
    margin-top: 1rem; }

@media screen and (max-width: 1024px) {
  html {
    font-size: 6vw; }
  #formulario {
    width: 90vw; }
  #contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 2rem; }
    #contacto #join {
      width: 100%;
      margin-top: 3rem; }
    #contacto #contacto-form {
      width: 100%; }
    #contacto #particles-js {
      background: linear-gradient(51deg, #040407 0%, #040306 25%, #030205 50%, #010102 75%, #010102 100%); }
  #intro-wrapper {
    padding: 1.5rem; }
    #intro-wrapper #arrow-wrapper {
      bottom: 4rem; }
    #intro-wrapper #d {
      display: block; }
  #intro p {
    width: 100%; } }

@media screen and (orientation: landscape) and (max-width: 1024px) {
  html {
    font-size: 5vw; }
  #intro-wrapper {
    height: 150vh; }
    #intro-wrapper video {
      width: 100vw;
      height: 150vh; }
    #intro-wrapper #arrow-wrapper {
      bottom: 1rem; }
    #intro-wrapper #d {
      display: inline-block; }
  #contacto {
    height: auto !important; } }
